
@{
    <main class="main-container">
        <div class="main-cards">

            <div class="card-detail">
                <div class="card-inner">
                    <p>indxnce</p>
                </div>
                <span class="text-primay font-weight-bold">249</span>
                <span class="tex font-weight-light">Cars</span>
            </div>

            <div class="card-detail">
                <div class="card-inner">
                    <p class="text-prmary">Available </p>
                    <img class="size" src="up.png" alt="a">
                </div>
                <span class="text-prim font-weight-bold">83</span>
                <span class="tex font-weight-light">Cars</span>
            </div>

            <div class="card-detail">
                <div class="card-inner">
                    <p class="text-prmary">Booked </p>
                    <img class="size" src="up.png" alt="a">
                </div>
                <span class="text-primry font-weight-bold">79</span>
                <span class="tex font-weight-light">Cars</span>
            </div>

            <div class="card-detail">
                <div class="card-inner">
                    <p class="text-priary">Cancelled </p>
                    <img class="size" src="down.png" alt="a">
                </div>
                <span class="text-primry font-weight-bold">56</span>
                <span class="tex font-weight-light">Cars</span>
            </div>

        </div>

        <div class="barchart">
            <div class="charts-card">
                <p class="chart-title"> Statistics</p>
                <div id="bar-chart"></div>
            </div>
        </div>



    </main>
}
