body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins";
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary {
    color: #030303;
}

.text-blue {
    color: #17191b;
}

.text-red {
    color: #cc3c43;
}

.text-green {
    color: #367952;
}

.text-orange {
    color: #f5b74f;
}

.font-weight-bold {
    font-weight: 600;
    font-size: x-large;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 1fr 1fr 1fr;
    grid-template-columns: 260px 1fr 1fr 1fr;
    -ms-grid-rows: 0.2fr 3fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar header header header" "sidebar main main main";
    height: 100vh;
}

.light {
    color: #afafaf;
}

/* ---------- HEADER ---------- */
.profile {
    text-align: center;
}

    .profile .imgprofile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        margin-left: 2rem;
    }

    .profile h4 {
        font-size: 20px;
        margin-right: 0.8rem;
    }

    .profile h6 {
        color: #A4A4A4;
        font-size: 15px;
        margin-top: -8px;
        margin-bottom: 20px;
        padding-left: 30px;
        margin-right: 0.8rem;
    }

.header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    display: none;
}

/* ---------- SIDEBAR ---------- */
#sidebar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: sidebar;
    height: 100%;
    background-color: #ffffff;
    color: #1f1e1e;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

    #sidebar .sidebar-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 20px 0px 20px;
    }

        #sidebar .sidebar-title .brand-name {
            font-size: 30px;
            font-weight: 700;
            margin-left: 0.8rem;
        }

.sidebar-title > span {
    display: none;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

    .sidebar-list .sidebar-list-item {
        padding: 12px 20px 20px 35px;
    }

.sidebar-list-item:hover {
    background-color: rgba(218, 216, 216, 0.2);
    cursor: pointer;
    color: #464DF2;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
}

/* ---------- MAIN ---------- */
.main-container {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    background-color: #F8FAFB;
}

.main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .main-title > p {
        font-size: 10px;
    }

.main-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

    .card-detail .card-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .card-detail .card-inner .size {
            width: 60px;
            height: 30px;
        }

        .card-detail .card-inner > p {
            font-size: 18px;
            color: #030303;
        }

.charts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

    .charts .charts-card {
        background-color: #ffffff;
        margin-bottom: 20px;
        padding: 25px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid;
        border: 1px solid #d2d2d3;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    }

        .charts .charts-card h6 {
            text-align: center;
            color: #949494;
            margin-top: 2rem;
        }

    .charts .chart-table {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 28px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid;
        border: 1px solid #d2d2d3;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    }

.barchart {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
}

    .barchart .charts-card {
        background-color: #ffffff;
        margin-bottom: 20px;
        padding: 25px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid;
        border: 1px solid #d2d2d3;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    }

.chart-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    font-size: 22px;
    font-weight: 600;
}

/* ---------- Live Booking Page ---------- */
.booking-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

    .booking-body .booking-img {
        background-color: #ffffff;
        padding: 25px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid;
        border: 1px solid #d2d2d3;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    }

    .booking-body .booking-info {
        background-color: #ffffff;
        padding: 28px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid;
        border: 1px solid #d2d2d3;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    }

        .booking-body .booking-info .desk-status {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .booking-body .booking-info .desk-status .desk {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                padding: 30px 20px 20px 0px;
            }

                .booking-body .booking-info .desk-status .desk .desk-about {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    margin-left: 2rem;
                }

                .booking-body .booking-info .desk-status .desk .badge {
                    height: 23px;
                    width: 70px;
                    margin-left: 8rem;
                    border-radius: 14px;
                    color: #ff9500;
                    background-color: rgba(255, 149, 0, 0.29);
                }

                .booking-body .booking-info .desk-status .desk .badgep {
                    height: 23px;
                    width: 70px;
                    font-size: 12px;
                    margin-left: 8rem;
                    border-radius: 14px;
                    color: #4580FB;
                    background-color: #B6CDF0;
                }

                .booking-body .booking-info .desk-status .desk .badges {
                    height: 23px;
                    width: 70px;
                    font-size: small;
                    text-align: center;
                    margin-left: 8rem;
                    border-radius: 14px;
                    color: #1a5c2e;
                    background-color: #b6f0c2;
                }

                .booking-body .booking-info .desk-status .desk .desk-img {
                    width: 81px;
                    height: 54px;
                }

            .booking-body .booking-info .desk-status .desktop {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                margin-top: -20px;
                padding: 30px 20px 20px 0px;
            }

                .booking-body .booking-info .desk-status .desktop .desk-about {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    margin-left: 2rem;
                }

                .booking-body .booking-info .desk-status .desktop .badge {
                    height: 23px;
                    width: 70px;
                    margin-left: 8rem;
                    border-radius: 14px;
                    color: #ff9500;
                    background-color: rgba(255, 149, 0, 0.29);
                }

                .booking-body .booking-info .desk-status .desktop .desk-img {
                    width: 81px;
                    height: 54px;
                }

.card-detail-live {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 25px;
}

    .card-detail-live .text-prim-live {
        font-size: 20px;
        color: #464DF2;
    }

    .card-detail-live .card-inner-live {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .card-detail-live .card-inner-live .text-prmary-live {
            margin-top: 25px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.45);
        }

        .card-detail-live .card-inner-live .material-symbols-outlined {
            color: #464DF2;
            font-size: 3rem;
        }

    .card-detail-live .card-inner > p {
        font-size: 18px;
        color: #030303;
    }

.line1 {
    width: 100%;
    height: 2px;
    margin-bottom: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 9px;
    border-width: 2px;
    border-color: blue;
}

.line2 {
    width: 100%;
    height: 2px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -11px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.12);
}

.vl {
    border-left: 2px solid #d6d3d3;
    height: 74px;
    margin-top: -11px;
    margin-left: 1rem;
    margin-bottom: 0px;
}

/* ---------- Login Page ---------- */
.login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

    .login-form .img-login {
        background-color: #1a5c2e;
    }

/* ---------- Member Page ---------- */
.form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

    .form .charts-card .form1 .form-control {
        width: 49vh;
    }

.rounded-pill {
    background-color: #464df2;
    padding: 12px 50px 12px 50px;
    color: white;
    position: absolute;
    margin-left: 128vh;
    margin-top: 3vh;
}

.membertable {
    margin-top: 5vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
}

    .membertable .chart-title {
        font-size: 2.4rem;
    }

    .membertable .table .bg-light-1-member {
        color: rgba(0, 0, 0, 0.44);
    }

.arrow {
    position: absolute;
    margin-left: 52.3rem;
    margin-top: 7.9rem;
}

    .arrow .oneAndOnlyDiv {
        height: 155px;
        width: 224px;
        background: white;
        -webkit-box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
        position: relative;
    }

        .arrow .oneAndOnlyDiv p {
            margin-left: 1.3rem;
        }

        .arrow .oneAndOnlyDiv:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 20px;
            width: 0;
            border-top: 20px solid white;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
        }

/* ---------- CALEN PAGE ---------- */
.booking-body-cale {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
}

    .booking-body-cale .membertable1 {
        margin-top: 0px;
    }

.rounded-pill1 {
    background-color: #464df2;
    padding: 12px 50px 12px 50px;
    color: white;
    position: absolute;
    border-radius: 35px;
    margin-left: 128vh;
    margin-top: -3.2vh;
}

/* ---------- MEDIA QUERIES ---------- */
/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 0.2fr 3fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "header" "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}

/* ---------- calender ---------- */
.calen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-top: 9rem;
    padding: 0px, 0px, 0px, 0px;
    margin-left: 1rem;
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}
/*# sourceMappingURL=main.css.map */
